<!DOCTYPE html>
<html lang="zh-TW">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>WebGames</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='app.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='auth.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='userInfo.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='maingame.css') }}">
  <script src="{{ url_for('static', filename='Popup.js') }}" defer></script>


  {% block extra_style %}
  <!-- 可以為不同頁面提供額外樣式 -->
  {% endblock %}

</head>
<body>
  <header class="nav">

    <div class="user-info" id="user-info">
      {% if session.get('player_id') %}
        <span>{{ session.get('username') }}</span>
        <button onclick="togglePopup()">冒險者手冊</button>
      {% else %}
        <button onclick="togglePopup()">神秘的旅人</button>
      {% endif %}
    </div>
  
  </header>

  <!--彈出視窗-->
  <div class="popup" id="popup">
    <div class="popup-content">

      {% if session.get('player_id') %}
        <h3>玩家資料</h3>
        <p>帳號：{{ session.get('username') }}</p>
        <p>遊玩次數：{{ session.get('level') }}</p>

        <form method="POST" action="{{ url_for('logout') }}">
          <button type="submit" class="btn btn-small btn-small-logout">登出</button>
        </form>

      {% else %}
        <h3>旅人啊，我還不認識你...</h3>
        <a href="{{ url_for('login_form') }}" class="btn btn-small btn-small-logout">前往登入</a>

        {% endif %}
        <button class="btn btn-small btn-small-close" onclick="closePopup()">關閉</button>
    </div>
  </div>

  {% with msgs = get_flashed_messages(with_categories=true) %}
  {% if msgs %}
    <ul id="flash">
      {% for cat, m in msgs %}
        <li data-cat="{{ cat }}">{{ m }}</li>
      {% endfor %}
    </ul>
    <script>
      // 若是「查無帳號」類型，彈窗提醒
      (function(){
        var liNo = document.querySelector('#flash li[data-cat="no_account"]');
        if(liNo){ 
          alert(li.textContent)
          window.location.href = "{{ url_for('register_form') }}";
          return;
        }
      })();
    </script>
  {% endif %}
  {% endwith %}

  <main>
    {% block content %}{% endblock %}
  </main>
</body>
</html>