{% extends "base.html" %}

{% block content %}
<!--div id="__debug_marker__" style="background:yellow; padding:6px;">
  DEBUG MARKER: maingame.html from Flask
</div-->

<div class="maingame-container">
  <h2>歡迎來到冒險之地，{{ session.get('username') }}！</h2>
  <!--debug-->
  <!-- p style="color:red;font-weight:bold;">[DEBUG] maingame.html UPDATED</p -->


    <div class="status" id="player-status">
      <h3>玩家狀態</h3>
      <ul>
        <li>血量：<span id="playerHP">-</span></li>
        <li>理智：<span id="playerSan">-</span></li>
        <li>暈眩：<span id="playerStun">-</span></li>
      </ul>
    </div>

    <div class="status" id="monster-status">
      <h3>怪物狀態</h3>
      <ul>
        <li>名稱：<span id="monsterName">-</span></li>
        <li>血量：<span id="monsterHP">-</span></li>
      </ul>
    </div>

    <div class="actions" id="game-actions">
      <h3>可執行的動作</h3>
        <button class="btn" id="slashBtn">揮砍</button>
        <button class="btn" id="strikeBtn">重擊</button>
        <button class="btn" id="fireballBtn">火球術</button>
        <button class="btn" id="healBtn">治療</button>
    </div>

    <div class="log" id="game-log">
      <h3>遊戲記錄</h3>

      <span id="playerName" data-username="{{ session.get('username') }}"></span>

      <div id="logBox"> </div>
      
      <!--按鈕放外面避免被文字刷新清掉-->
      <button class="btn" id="nextLogBtn" style="display:none;">下一句</button>
    </div>
       
</div>

<script src="{{ url_for('static', filename='maingame.js')}}"> </script>

{% endblock %}